{{>partials/header.hbs}}

    <img id="image" src="none">
    <video id="video" muted="true" src="none"></video>

    <div id="title"></div>
    <div id="buttons"></div>

    <div id="remote"><div class="avoid-clicks">R</div></div>
    <div id="next" class="control-button"><div class="avoid-clicks">></div></div>
    <div id="previous" class="control-button"><div class="avoid-clicks"><</div></div>
    <div id="pause" class="control-button"><div class="avoid-clicks">||</div></div>
    <div id="favorite" class="control-button"><div class="avoid-clicks">*</div></div>

    <script src="/js/simple.js"></script>
    <script src="/js/remote_server.js"></script>
    <script src="/js/favorite.js"></script>

{{>partials/footer.hbs}}
