{{>partials/header.hbs}}

    <img id="image" src="none">
    <video id="video" muted="true" src="none"></video>

    <div id="title"></div>
    <div id="buttons"></div>

    <div id="remote"><div class="avoid-clicks">Remote</div></div>

    <script src="/js/simple.js"></script>
    <script src="/js/remote_server.js"></script>

{{>partials/footer.hbs}}
