{{>partials/header.hbs}}

    <button id="back-button" class="remote-button">Previous</button>
    <button id="forward-button" class="remote-button">Next</button>
    <button id="pause-button" class="remote-button">Pause</button>
    <button id="favorite-button" class="remote-button">Favorite</button>

    <script src="/js/remote_client.js"></script>

{{>partials/footer.hbs}}